@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(11, 11, 11);
    color: rgb(247, 244, 244);

}

.left {
    width: 39vw;
    padding: 10px;

}

.right {
    width: 70vw;
}

.home {
    padding: 10px;
}

.home ul li {
    list-style: none;
    width: 15px;
    display: flex;
    gap: 15px;
    padding: 6px 0;
    font-weight: bold;
}

.heading {
    width: 15px;
    display: flex;
    gap: 15px;
    padding: 6px 0;
    font-weight: bold;
    align-items: center;
    padding: 7px;

}

.heading img {
    width: 30px;

}

.library {
    min-height: 80vh;
    padding: 12px 0;
    position: relative;
}

.footer {
    display: flex;
    gap: 13px;
    font-size: 10px;
    outline-color: grey;
    position: absolute;
    bottom: 0;
    padding: 23px 0;
}

.footer a {
    color: grey;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(57, 56, 56, 0.418);
    height: 80px;
}

.spotifyplaylists {
    padding: 10px;
}

.cardcontainer {
    display: flex;
    gap: 19px;
    flex-wrap: wrap;
    margin: 23px;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(83, 81, 81, 0.536);
    position: relative;

}

.card>* {
    padding-top: 23px;
    font-family: sans-serif;

}

.card img {
    width: 200px;
    object-fit: contain;
    border-radius: 18px;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    top: 160px;
    right: 20px;
    opacity: 0;
    /* transition: all 1s ease-out; */
}

.play svg {
    width: 5px;
    height: 4px;
}

.loginbtn {
    background-color: #25222269;
    color: rgb(246, 235, 235);
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    border: none;
    cursor: pointer;
    /* border: 1px solid white; */
    /* box-sizing: border-box; */
    outline: none;

}

.loginbtn:hover {
    font-size: 23px;
    color: rgb(251, 245, 245);

}

.signupbtn {
    background-color: rgba(255, 255, 255, 0.748);
    color: rgb(26, 26, 26);
    border-radius: 29px;
    padding: 17px;
    width: 100px;
    outline: none;
    cursor: pointer;
}

.signupbtn:hover {
    font-weight: 800;
    color: rgb(19, 18, 18);
    padding: 17px;
    background-color: rgb(247, 242, 242);
}

.songbuttons :nth-child(2) {
    padding: 0px 22px;
}

.right {
    position: relative;
}

.playbar {
    position: absolute;
    bottom: 0;
    background-color: rgba(235, 6, 6, 0.781);
    width: 97%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.songbuttons {
    display: flex;
    /* Add this */
    align-items: center;
    /* Add this */
    justify-content: center;
}

.songbuttonsimg {
    height: 12px;
}

.songlist {
    height: 450px;
    overflow-y: scroll;

}

.songlist ul {
    padding: 0 42px;
    ;
}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    gap: 14px;
    cursor: pointer;
    padding: 12px 0;
    border: 2px solid white;
    border-radius: 7px;
    padding: 9px;
    margin: 11px 0;
    justify-content: space-between;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;

}

.playnow span {
    font-size: larger;
    font-weight: bolder;
    padding: 11px;
}

.songlist .info {
    font-size: 13px;
    width: 320px;
}

.songlist::-webkit-scrollbar {
    width: 8px;
}

.songlist::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-radius: 4px;
}

.songlist::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 4px;
}

.songlist::-webkit-scrollbar-thumb:hover {
    background: #888;
}